# Backup folders
NanoGaN-backups/
*-bak/
*auto_saved_files*

# KiCad lock files
*.lck

# KiCad backup files
*.kicad_sch-bak
*.kicad_pcb-bak
*.bak

# KiCad cache and temp files
*-cache.lib
fp-info-cache